body {
  background-color: #f9f9f9;
}

/* Overriding */
.btn-primary {
  background-color: #159eda;
  border-color: #159eda
}

.btn-primary:hover {
  background-color: #1380bf;
  border-color: #1380bf
}

.navbar-brand{
  padding-top: 0;
  padding-bottom: 0;
}

/* App Component */
.App > .container {
  padding: 60px 15px 0;
}

/* Header */
.Header > .navbar {
  background-color: #e8e8e8;
  border-radius: 0;
  -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.18);
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.18);
}

/* Home */
.Home .step {
  font-size: 4rem;
  text-shadow: 0px 4px 5px rgba(55, 58, 60, 0.8);
  color: white;
}

/* Upload */
.Upload .action-buttons .btn {
  margin-left: 10px;
}

.Upload .action-buttons .btn:first-child {
  margin-left: 0;
}

/* OrganogramAdjustable */
.OrganogramAdjustable {
  background-color: white;
  min-height: 500px;
  box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.18);
  padding: 40px;
}

.OrganogramAdjustable > .employee-list {
  padding-left: 0
}

/* employee-list */
.employee-list {
  margin: 0;
  list-style: none;
}

.employee-list.is-dragging {
  opacity: 0.5
}

.employee-list.is-over > li {
  background-color: rgba(0,0,0,0.1)
}

.employee-list > li.employee-description {
  padding: 5px;
  transition: all .15s ease-in-out;
  border: 1px solid transparent;
}

.employee-list > li.employee-description:hover {
  background-color: #159eda;
  color: white;
}

.employee-list > li.employee-description:active {
  border: 1px dashed #565656;
}

.employee-list > li.employee-description + li {
  display: none
}

.employee-list > li.employee-description.open + li {
  display: block
}

/* Footer */
.footer {
  background-color: #f9f9f9;
  color: #999;
  -webkit-box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.18);
  -moz-box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.18);
  box-shadow: 0px -1px 0px 0px rgba(0,0,0,0.18);
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

.footer a {
  transition: all .15s ease-in-out;
  color: inherit
}

.footer a:hover {
  color: #565656
}